.active-link {
    background-color: blue;
    color: white;
  }
  
  .normal-link {
    background-color: lightgray;
    color: black;
  }
  
  .normal-link:hover {
    background-color: gray;
    color: white;
  }
  
  .sidebar-link {
    text-decoration: none;
  }
  
  .sidebar-link:hover,
  .sidebar-link:focus {
    text-decoration: none;
  }
  